/* RATING COMPONENT STYLE FOR DESKTOP */

.StarScaleBloc {
	width: 196px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.StarVote {
	color: #ff6060;
	font-size: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.StarEmpty {
	color: #e3e3e3;
	font-size: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* SECTION1 COMPONENT STYLE FOR MOBILE */

@media all and (max-width: 375px) {
	.StarScaleBloc {
		width: 98px;
		height: 18px;
	}

	.StarVote {
		width: 18px;
		height: 18px;
		font-size: 18px;
	}

	.StarEmpty {
		width: 18px;
		height: 18px;
		font-size: 15px;
	}
}
