/* FICHELOGEMENT PAGE STYLE FOR DESKTOP */

.Body {
	height: 882px;
	margin-bottom: 40px;
}

.DetailsBlocContainer {
	height: 121px;
	margin: 30px 100px 0px 100px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.DetailsBlocContainer__Title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.DetailsBlocContainer__RateHost {
	height: 121px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.DetailsBlocContainer__Tags {
	display: flex;
}

/* FICHELOGEMENT PAGE STYLE FOR TABLET */

@media all and (max-width: 992px) {
	.Body {
		height: max-content;
	}

	.DetailsBlocContainer {
		height: fit-content;
		margin: 30px 20px;
		flex-wrap: wrap;
	}

	.DetailsBlocContainer__Title {
		height: 121px;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.DetailsBlocContainer__RateHost {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}

	.DetailsBlocContainer__Tags {
		flex-wrap: wrap;
		justify-content: center;
	}
}

/* FICHELOGEMENT PAGE STYLE FOR MOBILE */

@media all and (max-width: 375px) {
	.Body {
		margin: 0px;
	}

	.DetailsBlocContainer {
		height: 150px;
		margin: 15px 20px;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.DetailsBlocContainer__Title {
		height: 101px;
		justify-content: space-between;
		align-items: flex-start;
	}

	.DetailsBlocContainer__RateHost {
		height: 33px;
		justify-content: space-between;
	}

	.DetailsBlocContainer__Tags {
		justify-content: flex-start;
	}
}
